body
{
  font-family: 'robot','Montserrat', 'Helvetica Neue', 'Helvetica, Arial', 'sans-serif';
  overflow-x: hidden;
}


#mainnav 
{
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    background: rgb(0,137,117);
    padding: 20px 0;
    -webkit-transition: padding .5s;
    -moz-transition: padding .5s;
    -ms-transition: padding .5s;
    -o-transition: padding .5s;
    transition: padding .5s;
}
#mainnav a:focus {
    outline: none; 
}
#mainnav .navbar-brand {
    font-size: 24px;
    color: white;

}
#mainnav .navbar-brand.active, #mainnav .navbar-brand:active, #mainnav .navbar-brand:focus, #mainnav .navbar-brand:hover 
{
    color: white; 
}
#mainnav .navbar-nav {
    letter-spacing: 1px; 
}

#mainnav .navbar-nav li.nav-item a.nav-link 
{
    color: white; 
}
#mainnav .navbar-nav li.nav-item a.nav-link:hover 
{
    background: rgb(0,137,117);
    outline: none; 
}
#mainnav .navbar-nav li.nav-item a.nav-link:active, #mainnav .navbar-nav li.nav-item a.nav-link:focus 
{        
    color: white; 
}
#mainnav .navbar-toggler {
    font-size: 14px;
    padding: 11px;
    text-transform: uppercase;
    color: white;
    border-color: white; 
}
#mainnav .navbar-toggler:focus, #mainnav .navbar-toggler:hover 
{
      color: white;
      background: rgb(0,137,117);
      background: rgb(0,137,117);
}


.txtdec
{
  font-size: 40px;
  font-weight: 300;
  color : white;
  font-family: 'Robot', 'Montserrat','sans-serif';
  padding-top: 0px;
}


.section {
  margin-bottom: 30px;
}


#tabhome { 
  margin-top: 50px;
  margin-bottom: 0;
  text-align: center;
  background-color: #18BC9C;
  /* background-image: url(assets/img/logo/Bg_hom.jpg); */
  background-size: cover;
  height: 850px;
  padding : 100px 0 0 0;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  padding-top :190px;
  width : 100px;
}


#profile-picture {
  padding-top: 10px;
  margin: 0 auto;
  
  background-size: cover;
  width: 150px;
  height: 150px;
  border-radius: 100%;
}
/* 
#description {
  padding-top: 30px;
  padding-bottom: 30px;
} */


#tababout {
  background-size: cover;
  /* margin-top: 0; */
  background-image: url(assets/img/logo/pattern1.png);
  /* padding-top: 45px;
  padding-bottom: 30px; */
  padding : 100px 0 0 0;
  
}

#tabportfolio{
  /* margin-top: 0; */
  background-size: cover;
  padding : 100px 0 0 0;
  background-color: #18BC9C;
}

#tabcontact {
  background-size: cover;
  /* margin-bottom: 0; */
  padding : 100px 0 0 0;
  /* padding-top: 65px;  */
  background-image: url(assets/img/logo/pattern1.png);
}
#tcontact
{
  font-size: 40px;
  font-weight: bold;
}

#detail_profile {
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 60px;
  background-image: url(assets/img/logo/pattern1.png);
}

.box-light {
    padding-top: 30px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #00AA99;
    border-radius: 3px;
}

.box-dark {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    background-color: #00AA99;
    color: #fff !important;
    border-radius: 3px;
}

.box-title-light {
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    background-color: #00AA99;
    border-radius: 3px;
    color: #fff !important;
}

.box-title-dark {
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    background-color: #484443;
    border-radius: 3px;
    color: #fff !important;
}

.padding-icon {
  padding-right: 20px;
}

.padding-img {
  padding-bottom: 20px;
}

.form-group {
  margin-bottom: 1rem;
}

.form-text {
  display: block;
  margin-top: 0.25rem;
}
.form-control
{
  
}


#contactform{
  align : middle;
}

hr.star-light,
hr.star-primary {
  max-width: 450px;
  margin: 25px auto 30px;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid 3px; }

hr.star-light:after,
hr.star-primary:after {
  font-family: FontAwesome;
  font-size: 2em;
  position: relative;
  top: -.8em;
  display: inline-block;
  padding: 0 0.25em;
  content: '\f006'; }

hr.star-light {
  border-color: white; }

hr.star-light:after {
  color: white;
  background-color: #18BC9C; }

hr.star-primary {
  border-color: white; }

hr.star-primary:after {
  color: #2C3E50;
  background-color: rgb(234,226,218);
}

footer {
  background: rgb(0,137,117);

  text-align: center;
  padding: 10px;
  color : white;
  /*you could also get rid of the .wrapper justify-content and use margin-top: auto*/
}


/*style aplikasi*/
  #aplikasi{
      margin-top: 5%;
      margin-bottom: 5%;
      background: rgb(64,224,208);
    }
    .foto_aplikasi{
      width: 350px;
      height: 220px;
      position: relative;
    }

    .foto_aplikasi img{
      width: 100%;
      height: 100%;
    }

    .image {
        display: block;
        width: 100%;
        height: auto;
    }

    .middle > .overlay{
      position: absolute;
      bottom: 100%;
      left: 0;
      right: 0;
      background-color: rgba(0,191,255,0.9);
      overflow: hidden;
      width: 100%;
      height:0;
      transition: .5s ease;
    }

    .left > .overlay {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgba(138,43,226,0.9);
        overflow: hidden;
        width: 0;
        height: 100%;
        transition: .5s ease;
    }

    .right > .overlay {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 100%;
        background-color: rgba(30,144,255,0.9);
        overflow: hidden;
        width: 0;
        height: 100%;
        transition: .5s ease;
    }

    .left:hover .overlay {
        width: 100%;
    }

    .right:hover .overlay {
        width: 100%;
        left: 0;
    }

    .middle:hover .overlay {
        bottom: 0;
        height: 100%;
    }

    .text {
        white-space: nowrap; 
        color: white;
        font-size: 20px;
        position: absolute;
        overflow: hidden;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }

    .tombol{
      margin-top: 170px;
      margin-left: 130px;
      float: left;
    }

    .title {
      font-family: cursive;
      text-align: center;
      color: white;
      font-weight: bolder;
      padding: 2%;
    }

    #aplikasi div > .col-md-4 {
      margin: 3% 1% 3% 1%;
    }

    .buttonAbout {
      background-color: #18BC9C;
    }


    /*....*/