body
{
  font-family: 'ubuntu', sans-serif;
  overflow-x: hidden;
}

/* bentuk navbar */

#mainnav 
{
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    background: transparent;
    padding: 20px 0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    position: fixed;
}

/* bentuk navbar brand */
#mainnav .navbar-brand {
    font-size: 26px;
    color: white;
    font-weight: bold;

}

/* saat navbar brand di hover */
#mainnav .navbar-brand.active,#mainnav .navbar-brand:hover  
{
    color: #FBC02D;
}

/* saat navbar brand on click */
#mainnav .navbar-brand:focus
{
    color: #F7B100; 
    background: transparent;
}

/* memberi jarak spasi pada navbar nav */
#mainnav .navbar-nav {
    letter-spacing: 2px; 
}

/* memberi warna dan ukuran pada item navbar */
.navbar-nav li.nav-item a.nav-link 
{
    color: white;
    font-weight: bold;
    font-size : 16px;
}
/* menambahkan warna hover ketika mouse melewati/melihat item */
#mainnav .navbar-nav li.nav-item a.nav-link:hover 
{
    color: #FBC02D; 
    /*background: #FBC02D;*/
    outline: none; 
}
/* menambahkan on click/focus pada item navbar */
/*#mainnav .navbar-nav li.nav-item a.nav-link:focus 
{
    background: #18BC9C;
}*/

/* memberi warna pada item toggler */
#mainnav .navbar-toggler {
    font-size: 14px;
    padding: 11px;
    text-transform: uppercase;
    color: white;
    border-color: white; 
}

#mainnav .navbar-toggler:hover 
{
      color: #FBC02D;
      background: transparent;
      border-color: #FBC02D;
}
#mainnav .navbar-toggler:focus 
{
      color: #FBC02D;
      border-color: #FBC02D;
}

/*#mainnav .navbar-nav li.nav-item a.nav-link:active 
{
    background: white;
}*/
.txtdec
{
  font-size: 60px;
  font-weight: 300;
  color : white;
  font-family: 'Roboto', sans-serif;
  padding-top: 0px;
}


.section {
  margin-bottom: 30px;
}


#tabhome { 
  /* margin-top: 50px; */
  margin-bottom: 0;
  text-align: center;
  background-image: url(assets/img/logo/Bg_hom.jpg);
  background-size: cover;
  height: 700px;
  padding : 0px 0 0 0;
}

.img-fluid {
  max-width: 250px;
  height: auto;
  padding-top: 100px;
  width : 120px;
  padding-top :220px;
  width : 150px;
}

.garis
{
     border-color: white;
     max-width: 450px;
     margin: 3px auto 10px;
     text-align: center;
     /* border: none; */
     /* border-top: solid 3px;  */
}

.garis
{
     max-width: 450px;
     margin : 3px auto 10px;
     border: 0px;
     height: 30px;
     border-style: solid;
     border-color: white;
     border-width: 1px 0 0 0;
     border-radius: 20px; 
}
.garis:before{
     display: block;
     content: "";
     height: 30px;
     margin-top: -31px;
     border-style: solid;
     border-color: white;
     border-width: 0 0 1px 0;
     border-radius: 20px;
}

.garis2
{
  border : 0;
  height: 2px;
  background-image: linear-gradient(to right,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));
  max-width: 300px;
  /* margin: 25px auto 30px; */
  /* padding: 0; */
}
#profile-picture {
  padding-top: 10px;
  margin: 0 auto;
  
  background-size: cover;
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

#tababout {
  background-size: cover;
  background-color: white;
  padding-top : 70px;
}
#tabportfolio{
  padding-top : 70px;
  /*padding-bottom: 40px;*/
  background-size: cover;
  background-image: url(assets/img/logo/pattern1.png);
}

#tabcontact {
  padding-top : 70px; 
  background-size: cover;
  background-color: white;
  /*background-image: url(assets/img/logo/pattern1.png);*/
  height: 750px;
}
/*#tcontact
{
  font-size: 40px;
  font-weight: bold;
}*/

#detail_profile {
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 60px;
  background-image: url(assets/img/logo/pattern1.png);
}

.box-light {
    padding-top: 30px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #00AA99;
    border-radius: 3px;
}

.box-dark {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    background-color: #00AA99;
    color: #fff !important;
    border-radius: 3px;
}

.box-title-light {
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    background-color: #00AA99;
    border-radius: 3px;
    color: #fff !important;
}

.box-title-dark {
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    background-color: #484443;
    border-radius: 3px;
    color: #fff !important;
}

.profile {
    color: #efe7de;
    font-weight: bold;
}

.round-xlarge {
    background-color: #00AA99;
    border-radius: 5px;
    height: 20px;
    margin-bottom: 0px;
    margin-left: 20px;
}

.padding-icon {
  padding-right: 20px;
  color: #efe7de;
}

.padding-edu {
  padding-right: 20px;
  padding-left: 20px;
  color: #484443;
}

.padding-img {
  padding-bottom: 20px;
}

.form-group {
  margin-bottom: 1rem;
}

.form-text {
  display: block;
  margin-top: 0.25rem;
}
.form-control
{
  
}

#contactform{
  align : middle;
}

footer {
  background: black; 
  text-align: center;
  padding: 10px;
  color : white;
  /*you could also get rid of the .wrapper justify-content and use margin-top: auto*/
}


/*style aplikasi*/

    .foto_aplikasi{
      width: 350px;
      height: 220px;
      position: relative;
    }

    .foto_aplikasi img{
      width: 100%;
      height: 100%;
    }

    .image {
        display: block;
        width: 100%;
        height: auto;
    }

    .middle > .overlay{
      position: absolute;
      bottom: 100%;
      left: 0;
      right: 0;
      background-color: rgba(0,191,255,0.9);
      overflow: hidden;
      width: 100%;
      height:0;
      transition: .5s ease;
    }

    .left > .overlay {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgba(138,43,226,0.9);
        overflow: hidden;
        width: 0;
        height: 100%;
        transition: .5s ease;
    }

    .right > .overlay {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 100%;
        background-color: rgba(30,144,255,0.9);
        overflow: hidden;
        width: 0;
        height: 100%;
        transition: .5s ease;
    }

    .left:hover .overlay {
        width: 100%;
    }

    .right:hover .overlay {
        width: 100%;
        left: 0;
    }

    .middle:hover .overlay {
        bottom: 0;
        height: 100%;
    }

    .text {
        padding: 50px;
        text-align: center;
        width: 350px;
        height: 220px;
        color: white;
        font-size: 20px;
        position: absolute;
        overflow: hidden;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }

    .tombol{
      margin-top: 170px;
      margin-left: 150px;
      float: left;
    }

    .tombol:hover{
      color: blue;
      font-weight: bolder;
    }

    .title {
      font-family: cursive;
      text-align: center;
      color: white;
      font-weight: bolder;
      padding: 2%;
    }

    #tabportfolio div > .col-md-4 {
      margin: 2% 0% 2% 0%;
    }

    .text h5{
      font-weight: bolder;
    }

    .text p{
      font-size: 14px;
    }

    .buttonAbout {
      background-color: #FBC02D;
      border: none;
    }