body
{
  font-family: 'robot','Montserrat', 'Helvetica Neue', 'Helvetica, Arial', 'sans-serif';
  overflow-x: hidden;
}


#mainnav 
{
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    background: rgb(0,137,117);
    padding: 20px 0;
    -webkit-transition: padding .5s;
    -moz-transition: padding .5s;
    -ms-transition: padding .5s;
    -o-transition: padding .5s;
    transition: padding .5s;
}
#mainnav a:focus {
    outline: none; 
}
#mainnav .navbar-brand {
    font-size: 24px;
    color: white;

}
#mainnav .navbar-brand.active, #mainnav .navbar-brand:active, #mainnav .navbar-brand:focus, #mainnav .navbar-brand:hover 
{
    color: white; 
}
#mainnav .navbar-nav {
    letter-spacing: 1px; 
}

#mainnav .navbar-nav li.nav-item a.nav-link 
{
    color: white; 
}
#mainnav .navbar-nav li.nav-item a.nav-link:hover 
{
    background: rgb(0,137,117);
    outline: none; 
}
#mainnav .navbar-nav li.nav-item a.nav-link:active, #mainnav .navbar-nav li.nav-item a.nav-link:focus 
{        
    color: white; 
}
#mainnav .navbar-toggler {
    font-size: 14px;
    padding: 11px;
    text-transform: uppercase;
    color: white;
    border-color: white; 
}
#mainnav .navbar-toggler:focus, #mainnav .navbar-toggler:hover 
{
      color: white;
      border-color: #18BC9C;
      background-color: #18BC9C; 
}


.txtdec
{
  font-size: 40px;
  font-weight: 300;
  color : white;
  font-family: 'Robot', 'Montserrat','sans-serif';
  padding-top: 0px;
}


.section {
  margin-bottom: 30px;
}


#tabhome { 
  margin-top: 40px;
  margin-bottom: 0;
  text-align: center;
  background-color: #18BC9C;
  background-size: cover;
  height: 650px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  padding-top :190px;
  width : 100px;
}


#profile-picture {
  padding-top: 10px;
  margin: 0 auto;
  
  background-size: cover;
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

#description {
  padding-top: 30px;
  padding-bottom: 30px;
}


#tababout {
  
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 60px;
}

#tabportfolio{
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 30px;
}

#tabcontact {
  background-size: cover;
  margin-bottom: 0;
  padding-top: 65px; 
  background-image: url(assets/img/logo/pattern1.png);
}
#tcontact
{
  font-size: 40px;
  font-weight: bold;
}

.form-group {
  margin-bottom: 1rem;
}

.form-text {
  display: block;
  margin-top: 0.25rem;
}
.form-control
{
  
}


#contactform{
  align : middle;
}

hr.star-light,
hr.star-primary {
  max-width: 450px;
  margin: 25px auto 30px;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid 3px; }

hr.star-light:after,
hr.star-primary:after {
  font-family: FontAwesome;
  font-size: 2em;
  position: relative;
  top: -.8em;
  display: inline-block;
  padding: 0 0.25em;
  content: '\f006'; }

hr.star-light {
  border-color: white; }

hr.star-light:after {
  color: white;
  background-color: #18BC9C; }

hr.star-primary {
  border-color: white; }

hr.star-primary:after {
  color: #2C3E50;
  background-color: rgb(234,226,218);
}

footer {
  background: rgb(0,137,117);
  text-align: center;
  padding: 10px;
  color : white;
  /*you could also get rid of the .wrapper justify-content and use margin-top: auto*/
}