body
{
  font-family: robot;
}
#mainnav 
{
    font-family: 'robot' 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    background: #008975;
}
#mainnav a:focus {
    outline: none; 
}
#mainnav .navbar-brand {
    font-size: 1.1rem;
    color: white; 
}
#mainnav .navbar-brand.active, #mainnav .navbar-brand:active, #mainnav .navbar-brand:focus, #mainnav .navbar-brand:hover 
{
    color: white; 
}
#mainnav .navbar-nav {
    letter-spacing: 1px; 
}

#mainnav .navbar-nav li.nav-item a.nav-link 
{
    color: white; 
}
#mainnav .navbar-nav li.nav-item a.nav-link:hover 
{
    color: #18BC9C;
    outline: none; 
}
#mainnav .navbar-nav li.nav-item a.nav-link:active, #mainnav .navbar-nav li.nav-item a.nav-link:focus 
{        
    color: white; 
}
#mainnav .navbar-toggler {
    font-size: 14px;
    padding: 11px;
    text-transform: uppercase;
    color: white;
    border-color: white; 
}
#mainnav .navbar-toggler:focus, #mainnav .navbar-toggler:hover 
{
      color: white;
      border-color: #18BC9C;
      background-color: #18BC9C; 
}

@media (min-width: 992px) {
  #mainNav 
  {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s; 
  }
  #mainNav .navbar-brand 
  {
   font-size: 2em;
   -webkit-transition: all 0.3s;
   -moz-transition: all 0.3s;
    transition: all 0.3s; 
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active 
  {
    color: white;
    border-radius: 3px;
    background: #18BC9C; 
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover 
  {
    color: white;
    background: #18BC9C; 
  }
  #mainNav.navbar-shrink 
  {
    padding-top: 10px;
    padding-bottom: 10px; 
  }
  #mainNav.navbar-shrink .navbar-brand 
  {
    font-size: 1.5em; 
  } 
}


.txtdec
{
  font-size: 40px;
  font-weight: 300;
  color : white;
  font-family: 'Robot', 'Montserrat','sans-serif';
  padding-top: 0px;
}


.section {
  margin-bottom: 30px;
}


#tabhome { 
  margin-top: 40px;
  margin-bottom: 0;
  text-align: center;
  background-color: #18BC9C;
  background-size: cover;
  height: 650px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  padding-top :190px;
  width : 100px;
}


#profile-picture {
  padding-top: 10px;
  margin: 0 auto;
  
  background-size: cover;
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

#description {
  padding-top: 30px;
  padding-bottom: 30px;
}


#tababout {
  
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 60px;
}

#tabportfolio{
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 30px;
}

#tabcontact {
  background-size: cover;
  margin-bottom: 0;
  padding-top: 65px;
  padding-bottom: 45px;
  background-image: url(assets/img/logo/pattern1.png);
}
#tcontact
{
  font-size: 50px;
  font-weight: bold;
}

.form-group {
  margin-bottom: 1rem;
}

.form-text {
  display: block;
  margin-top: 0.25rem;
}
.form-control
{
  
}


#contactform{
  align : middle;
}

hr.star-light,
hr.star-primary {
  max-width: 450px;
  margin: 25px auto 30px;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid 3px; }

hr.star-light:after,
hr.star-primary:after {
  font-family: FontAwesome;
  font-size: 2em;
  position: relative;
  top: -.8em;
  display: inline-block;
  padding: 0 0.25em;
  content: '\f006'; }

hr.star-light {
  border-color: white; }

hr.star-light:after {
  color: white;
  background-color: #18BC9C; }

hr.star-primary {
  border-color: #2C3E50; }

hr.star-primary:after {
  color: #2C3E50;
  background-color: white; 
}

